.btn-primary {
  color: #fff;
  background-color: #813afe;
  border-color: #813afe;
}

.icon-img {
  width: 70px;
  height: 70px;
  margin-bottom: 3rem;
}

.reset {
  color: black;
}

.ui_img {
  height: 100%;
  width: 100% !important;
}
